<!DOCTYPE html>
<html>
  <title>Feed</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
  />
  <link rel="stylesheet" type="text/css" href="./getFeed.css" />
  <link rel="stylesheet" type="text/css" href="./global.css" />

  <body>
    <header>
      <div class="container">
        <div class="feed-container">
          <a href="/" class="back-arrow">
            <i class="fas fa-arrow-left"></i>
          </a>
          <div class="profile">
            <div class="profile-image">
              <img
                src="/profilePicture/<%= user.username %>/<%= user.profile %>"
                alt=""
              />
            </div>

            <div class="profile-user-settings">
              <h1 class="profile-user-name"><%= user.username %></h1>

              <button class="btn profile-edit-btn">Edit Profile</button>

              <button
                class="btn profile-settings-btn"
                aria-label="profile settings"
              >
                <i class="fas fa-cog" aria-hidden="true"></i>
              </button>
            </div>

            <div class="profile-stats">
              <ul>
                <li>
                  <span class="profile-stat-count"
                    ><%= user.stats.posts %></span
                  >
                  posts
                </li>
                <li>
                  <span class="profile-stat-count"
                    ><%= user.stats.followers %></span
                  >
                  followers
                </li>
                <li>
                  <span class="profile-stat-count"
                    ><%= user.stats.following %></span
                  >
                  following
                </li>
              </ul>
            </div>

            <div class="profile-bio">
              <p>
                <span class="profile-real-name"><%= user.username %></span> <%=
                user.description %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="gallery-container">
          <div class="gallery">
            <% user.photos.forEach(photo => { %>
            <div class="gallery-item" tabindex="0">
              <img
                src="/feedImages/<%= user.username %>/<%= photo %>"
                class="gallery-image"
                alt=""
              />

              <div class="gallery-item-info">
                <ul>
                  <li class="gallery-item-likes">
                    <span class="visually-hidden">Likes:</span
                    ><i class="fas fa-heart" aria-hidden="true"></i> 56
                  </li>
                  <li class="gallery-item-comments">
                    <span class="visually-hidden">Comments:</span
                    ><i class="fas fa-comment" aria-hidden="true"></i> 2
                  </li>
                  <li class="gallery-item-delete">
                    <img
                      src="/redX"
                      alt="Delete"
                      class="red-x"
                      data-username="<%= user.username %>"
                      data-photo="<%= photo %>"
                    />
                  </li>
                </ul>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      </div>

      <div class="loader"></div>
    </main>
    <script src="/refreshFeed"></script>
    <script>
      const currentUsername = "<%= user.username %>";
      setupFeedRefresh(currentUsername);
    </script>
  </body>
</html>
